<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.modularbank.banking.mapper.CountryMapper">
    <resultMap type="co.modularbank.banking.domain.Country" id="countryMap">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="code" property="code"/>
    </resultMap>

    <select id="getCountryByCodeName" parameterType="java.lang.String" resultMap="countryMap">
        SELECT * FROM country WHERE code = #{countryCode}
    </select>

    <select id="getAllCountries" resultMap="countryMap">
        SELECT * FROM country
    </select>
</mapper>